# Lending club case study

### problem staetement will be documented here

In [1]:
#importing libraries and data

import pandas as pd
data=pd.read_csv('loan.csv')

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data Understanding

In [2]:
#glace at data

print(data.shape)
data.head()

(39717, 111)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
#chekcing data columns and info
print(data.columns)
print(data.info())
print("loan status tells us loan is defaulted or not-------",data.loan_status.unique())

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None
loan status tells us loan is defaulted or not------- ['Fully Paid' 'Charged Off' 'Current']

In [4]:
data.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2458
emp_length                            0
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12939
purpose                               0
title                                10
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
                                  ...
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

#### After examining variables loan_status is target the variable since it contains 3 values completed, charged_off and current. Tells us a loan is defaulted or not

# Basic cleaning

In [5]:
# removing columns where every entry is null

allnullcols=data.columns[pd.isnull(data).all(axis=0)].tolist()
data=data.drop(allnullcols,axis=1)
print("data shape after removing null columns",data.shape)

data shape after removing null columns (39717, 57)

In [6]:
# columns where unique value is one means no much data

uniq1=[]
cols=data.columns.tolist()
for i in cols:
    if len(data[i].unique())==1:
        uniq1.append(i)
        
uniq1

['pymnt_plan',
 'initial_list_status',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'delinq_amnt']

In [7]:
#dropping columns where only one unique value is present

data=data.drop(uniq1,axis=1)

In [8]:
#percentage of missing values column wise.
(data.isnull().sum()/data.shape[0])*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.188786
emp_length                     0.000000
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
url                            0.000000
desc                          32.577989
purpose                        0.000000
title                          0.025178
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
mths_since_last_record        92.985372
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
next_pymnt_d                  97.129693
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
chargeoff_within_12_mths       0.140998
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [9]:
#columns where missing values are more than 50%

missing50=data.columns[(data.isnull().sum()/data.shape[0])*100 > 50].tolist()
print(missing50)

['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d']

In [10]:
#dropping columns where values are missing more than 90%

data=data.drop(missing50,axis=1)

In [11]:
#percentage of missing values column wise.

(data.isnull().sum()/data.shape[0])*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.188786
emp_length                     0.000000
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
url                            0.000000
desc                          32.577989
purpose                        0.000000
title                          0.025178
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
chargeoff_within_12_mths       0.140998
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [12]:
print(data.shape)
# So we are ended up with # columns after removing these missing values
data.head()

(39717, 48)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,chargeoff_within_12_mths,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,0.0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,0.0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,0.0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,0.0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,0.00,0.00,0.00,May-16,67.79,May-16,0.0,0.0,0.0,0.0

In [13]:
# maximum missing values in any given row
print("maximum missing values in any given row are ",data.isnull().sum(axis=1).max())

# so every row matters now

maximum missing values in any given row are  6

In [14]:
#no of unique entries in every column

cols=data.columns.tolist()
for i in cols:
    print("no of unique values in ",i,"----",len(data[i].unique()))

no of unique values in  id ---- 39717
no of unique values in  member_id ---- 39717
no of unique values in  loan_amnt ---- 885
no of unique values in  funded_amnt ---- 1041
no of unique values in  funded_amnt_inv ---- 8205
no of unique values in  term ---- 2
no of unique values in  int_rate ---- 371
no of unique values in  installment ---- 15383
no of unique values in  grade ---- 7
no of unique values in  sub_grade ---- 35
no of unique values in  emp_title ---- 28822
no of unique values in  emp_length ---- 12
no of unique values in  home_ownership ---- 5
no of unique values in  annual_inc ---- 5318
no of unique values in  verification_status ---- 3
no of unique values in  issue_d ---- 55
no of unique values in  loan_status ---- 3
no of unique values in  url ---- 39717
no of unique values in  desc ---- 26529
no of unique values in  purpose ---- 14
no of unique values in  title ---- 19617
no of unique values in  zip_code ---- 823
no of unique values in  addr_state ---- 50
no of unique values in  dti ---- 2868
no of unique values in  delinq_2yrs ---- 11
no of unique values in  earliest_cr_line ---- 526
no of unique values in  inq_last_6mths ---- 9
no of unique values in  open_acc ---- 40
no of unique values in  pub_rec ---- 5
no of unique values in  revol_bal ---- 21711
no of unique values in  revol_util ---- 1090
no of unique values in  total_acc ---- 82
no of unique values in  out_prncp ---- 1137
no of unique values in  out_prncp_inv ---- 1138
no of unique values in  total_pymnt ---- 37850
no of unique values in  total_pymnt_inv ---- 37518
no of unique values in  total_rec_prncp ---- 7976
no of unique values in  total_rec_int ---- 35148
no of unique values in  total_rec_late_fee ---- 1356
no of unique values in  recoveries ---- 4040
no of unique values in  collection_recovery_fee ---- 2616
no of unique values in  last_pymnt_d ---- 102
no of unique values in  last_pymnt_amnt ---- 34930
no of unique values in  last_credit_pull_d ---- 107
no of unique values in  collections_12_mths_ex_med ---- 2
no of unique values in  chargeoff_within_12_mths ---- 2
no of unique values in  pub_rec_bankruptcies ---- 4
no of unique values in  tax_liens ---- 2

## Advanced cleaning

In [15]:
#printing first example values to analyse the variables
for i in data.columns:
    print(data.loc[[0],[i]])

        id
0  1077501
   member_id
0    1296599
   loan_amnt
0       5000
   funded_amnt
0         5000
   funded_amnt_inv
0           4975.0
         term
0   36 months
  int_rate
0   10.65%
   installment
0       162.87
  grade
0     B
  sub_grade
0        B2
  emp_title
0       NaN
  emp_length
0  10+ years
  home_ownership
0           RENT
   annual_inc
0     24000.0
  verification_status
0            Verified
  issue_d
0  Dec-11
  loan_status
0  Fully Paid
                                                 url
0  https://lendingclub.com/browse/loanDetail.acti...
                                                desc
0    Borrower added on 12/22/11 > I need to upgra...
       purpose
0  credit_card
      title
0  Computer
  zip_code
0    860xx
  addr_state
0         AZ
     dti
0  27.65
   delinq_2yrs
0            0
  earliest_cr_line
0           Jan-85
   inq_last_6mths
0               1
   open_acc
0         3
   pub_rec
0        0
   revol_bal
0      13648
  revol_util
0     83.70%
   total_acc
0          9
   out_prncp
0        0.0
   out_prncp_inv
0            0.0
   total_pymnt
0  5863.155187
   total_pymnt_inv
0          5833.84
   total_rec_prncp
0           5000.0
   total_rec_int
0         863.16
   total_rec_late_fee
0                 0.0
   recoveries
0         0.0
   collection_recovery_fee
0                      0.0
  last_pymnt_d
0       Jan-15
   last_pymnt_amnt
0           171.62
  last_credit_pull_d
0             May-16
   collections_12_mths_ex_med
0                         0.0
   chargeoff_within_12_mths
0                       0.0
   pub_rec_bankruptcies
0                   0.0
   tax_liens
0        0.0

In [16]:
# id column is just random it never decides the outcome
data=data.drop('id',axis=1)

# member_id column is same as id, so we will drop that
data=data.drop('member_id',axis=1)

# desc column is long and doesn't contain significance in predicting outcome
data=data.drop('desc',axis=1)

# column emp_title doesn't provide any significance to predicting 
data=data.drop('emp_title',axis=1)

# url column is just random variable url never decicede defaulter
data=data.drop('url',axis=1)

## we will examine every variable and impute appropriate values

In [19]:
print("so we endedup with this varibles after cleaning",data.shape)

so we endedup with this varibles after cleaning (39717, 43)

### first 10 variables

In [18]:
data.iloc[:,0:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 10 columns):
loan_amnt          39717 non-null int64
funded_amnt        39717 non-null int64
funded_amnt_inv    39717 non-null float64
term               39717 non-null object
int_rate           39717 non-null object
installment        39717 non-null float64
grade              39717 non-null object
sub_grade          39717 non-null object
emp_length         39717 non-null object
home_ownership     39717 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 3.0+ MB